.card {
  width: 100%;
  max-width: 300px;
  background-color: #f7fafc;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 15px;
}

.card-image {
  position: relative;
}

.image-container {
  padding-top: 100%;
  position: relative;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-compression-badge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #4a5568;
}

.card-compression-badge.compressed {
  background-color: #f56565;
}

.card-compression-badge.not-compressed {
  background-color: #48bb78;
}

.card-content {
  height: 220px;
  overflow: auto;
}

.card-attributes {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: black;
}

.card-details {
  font-size: 0.875rem;
  color: #4a5568;
}

.card-attributes li {
  margin-bottom: 0.25rem;
}

/* DISPLAYING THE CARDS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card-grid-item.selected {
  border: 8px solid #09f328;
  box-shadow: 0 0 5px #09f328;
  border-radius: 0.9rem;
  display: flex;
  align-items: stretch;
  height: 97%;
}